#section-three {
  background-image: url("../images/background_sawit.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;

  .container {
    width: 460px;
    height: 100%;
    background: #003b79;
    position: absolute;
    top: 0;
    right: 200px;
    padding: 50px;
    padding-top: 150px;
    color: #fff;

    .button-car {
      position: absolute;
      z-index: 9;
      width: 60px;
      top: 100px;
      left: -30px;
      display: flex;
      align-items: center;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

      button {
        width: 30px;
        outline: none;
        background: #fff;
        border: none;

        &:hover {
          cursor: pointer;
        }

        &:active {
          transform: scale(1.1);
        }
      }
    }

    .content-1,
    .content-2 {
      display: none;
    }

    h1 {
      margin-bottom: 20px;
    }

    .paragraph {
      width: 90%;
    }

    .info {
      display: flex;
      align-items: center;
      margin-top: 20px;

      .text {
        margin-left: 10px;
        color: #ffc43e;

        h2 {
          font-family: $font-lato;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 60px;
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      margin-top: 30px;
      outline: none;
      img {
        margin-right: 20px;
      }
    }

    @media (max-width: 800px) {
      right: 0;
      width: 90%;
      padding: 20px;
      padding-top: 150px;

      p {
        width: 100%;
      }

      .info {
        .text {
          h2 {
            font-size: 30px;
            line-height: 28px;
          }
        }
      }
    }
  }
}
